.Drawer{
    position: fixed;
    left: 0;
    text-outline: 0;
    bottom: 0;
    width: 80%;
    min-width: 300px;
    padding: 20px 30px;
    box-sizing:border-box;
    background:white;
    z-index:90;
    transform:translateX(0px);
    transition: transform .22s ease-in;
}